<p><%= @num_pearls == 0 ? @text : (@pearl.quote + ' ' + @pearl.author) %></p>

<%= render 'buttons' %>
<br><br><br><br>
<table>
  <thead>
      <th><td><%= link_to 'New Quote', new_pearl_path %></td></th>
      <th><td><%= link_to 'New Joke', new_joke_path %></td></th>

    </tr>
  </thead>
</table>
