<table>
  <thead>
    <tr>
      <th><td><%= button_to 'Pearl of Wisdom', pearls_path, :method =>:get %></td></th>
      <th><td><%= button_to 'Click for a Funny', jokes_path, :method => :get %></td></th>
    </tr>
  </thead>
</table>